*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    background-image: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("../Images/webp/background.webp");
    background-image: url("../Images/png/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'Figtree';
    src: url(/Resources/Fonts/Figtree/Figtree-Regular.ttf) format('truetype');
}

:root {
    --color_1: rgb(160, 226, 196);
    --color_2: rgb(111, 198, 158);
    --color_3: rgb(27, 172, 123);
    --color_4: rgb(14, 113, 67);
    --color_5: rgb(7, 56, 34);
    --color_6: rgb(192, 230, 186);
    --color_7: rgb(154, 204, 146);
    --color_8: rgb(90, 179, 77);
    --color_9: rgb(60, 119, 51);
    --color_10: rgb(30, 60, 26);
    --color_11: rgb(201, 231, 181);
    --color_12: rgb(167, 208, 140);
    --color_13: rgb(112, 184, 64);
    --color_14: rgb(75, 123, 43);
    --color_15: rgb(37, 61, 21);
    --color_16: rgb(180, 228, 190);
    --color_17: rgb(137, 202, 151);
    --color_18: rgb(63, 175, 87);
    --color_19: rgb(42, 117, 58);
    --color_20: rgb(21, 58, 29);
    --color_21: rgb(172, 230, 221);
    --color_22: rgb(136, 204, 194);
    --color_23: rgb(90, 179, 165);
    --color_24: rgb(0, 154, 130);
    --color_25: rgb(0, 77, 65);
    --color_26: rgba(0, 77, 65, 0.85);
    --color_27: rgb(24, 170, 99);
    --base-margin: 1rem;
    --increase-factor: 0.1;
    --bar-width: 40px;
    --bar-height: 6px;
    --hamburger-gap: 6px;
    --hamburger-margin: 15px;
    --foreground: var(--color_18);
    --background: var(--color_21);
    --animation-timing: 400ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* Contact button */

.Contact-Button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    margin: 1rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--color_27);
    background-color: black;
    cursor: pointer;
    outline: none;
    z-index: 9998;
}

.Contact-Button:focus {
    outline: none;
}

.Contact-Button .dots {
    height: 5px;
    width: 5px;
    background-color: var(--color_27);
    border-radius: 50%;
    margin: 2px;
}

.hidden {
    display: none;
}

.Popup-Buttons {
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(150%);
    z-index: 998;
    width: 100%;
    height: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(136, 204, 194, 0.90); */
    background-color: white;
    border: 4px solid rgb(7, 56, 34);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 15px;
    width: 40%;
    height: auto;
}

.booneButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.mooresvilleButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.btn-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.buttonsContainer h3 {
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: black;
}

.btn-container .popup-btn {
    margin-inline: 10px;
}

.popup-btn {
    background-color: black;
    border: 3px solid var(--color_27);
    width: 50px;
    height: 50px;
    margin-inline: 1rem;
    margin-block: 5px;
    border-radius: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.popup-btn.phone {
    display: block;
    background-image: url('../Images/webp/phone-call.webp');
    background-image: url('../Images/png/phone-call.png');
    background-repeat: no-repeat;
}

.popup-btn.email {
    background-image: url('../Images/webp/email.webp');
    background-image: url('../Images/png/email.png');
}

.popup-btn.messenger {
    background-image: url('../Images/webp/messenger.webp');
    background-image: url('../Images/png/messenger.png');
}

.popup-btn.facebook {
    background-image: url('../Images/webp/facebook-contact.webp');
    background-image: url('../Images/png/facebook-contact.png');
}

.popup-btn.instagram {
    background-image: url('../Images/webp/instagram-contact.webp');
    background-image: url('../Images/png/instagram-contact.png');
}

/* Navbar section */

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: rgba(43, 43, 43, 0.85);
    z-index: 9999;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 65px;
    width: auto;
    margin-left: 10px;
}

.dt-nav-logo {
    display: none;
}

/* Hamburger Menu CSS */

aside {
    height: 100%;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 10001;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu.active {
    --foreground: black;
    --background: black;
}

.hamburger-menu.active::before {
    transform: rotate(45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu.active::after {
    transform: rotate(-45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    transform: translateX(300%);
    transition: transform var(--animation-timing);
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--color_22);
    color: var(--color_10);
    min-width: 100vw;
    z-index: 10000;
}

.sidebar.active {
    top: 0;
    transform: translateX(0);
    min-height: 100vh;
}

.sidebar-items-left,
.sidebar-items-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.sidebar-items-left a,
.sidebar-items-right a {
    font-size: 25px;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-weight: bolder;
}

/* Juice Up Section */

.Juice-Up-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Juice-Up-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    background:
        linear-gradient(var(--color_26), var(--color_26)),
        url('../Images/webp/wheels\ lab\ light\ filter.webp'),
        url('../Images/png/wheels-lab-light-filter.png');
    background-blend-mode: color;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    max-width: 1440px;
    text-align: center;
    object-fit: cover;
}

.Juice-Up-Section h2 {
    font-family: 'Figtree', sans-serif;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: white;
}

.Juice-Up-Section p {
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-inline: 2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: white;
    padding-inline: 5px;
    margin: 0;
    margin-bottom: 25px;
}

/* Page Headers */

.pageHeader h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 40px;
    text-align: center;
    color: var(--color_27);
    margin-top: 8rem;
}

.pageHeader p {
    font-family: 'Figtree', sans-serif;
    font-size: 25px;
    text-align: center;
    /* color: var(--color_27); */
    color: white;
    margin-inline: 1rem;
    margin-block: 0;
}

/* Why Apple Repair Section */

.Boone-Store-Lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.Boone-Store-Lobby img {
    width: 85%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
}

.Why-Apple-Repair {
    /* background-color: var(--color_22); */
    background-color: rgba(136, 204, 194, 0.925);
    border-radius: 25px;
}

.ceo-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4rem;
    padding-top: 5rem;
    font-family: 'Figtree', sans-serif;
}

.ceo-message h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0.5rem;
    /* color: black; */
    color: white;
}

.ceo-message h4 {
    text-align: center;
    margin-top: 0;
    /* color: var(--color_20); */
    color: white;
}

.ceo-message p {
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 20px;
    /* color: var(--color_5); */
    color: white;
    padding-inline: 2rem;
    line-height: 2;
}

.ceo {
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 0.12rem;
    padding-inline: 1rem;
    right: 0;
    /* color: var(--color_5); */
    color: white;
    text-align: right;
}

.ceo h5 {
    margin: 0.5rem;
}

/* Why Numbers Boxes section */

.Why-Numbers-Boxes {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0;
}

.Why-Numbers-Boxes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color_1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-inline: 1rem;
    border-radius: 15px;
}

.Why-Numbers-Boxes h1 {
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: var(--color_5);
    margin-top: 2rem;
    margin-bottom: 0;
}

.Why-Numbers-Boxes p {
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding-inline: 3rem;
    color: var(--color_4);
}

/* Repairs & Services section */

.rs-header {
    font-family: 'Figtree', sans-serif;
    font-size: 40px;
    color: var(--color_18);
    text-align: center;
}

.Repairs-Services {
    margin: 0;
    padding: 0;
}

.R-S-Boxes {
    margin: none;
}

.RS-Boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.device-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-inline: 1rem;
    border-radius: 15px;
    width: 50%;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
}

.R-S-Boxes h1 {
    top: 0;
    left: 0;
    font-family: 'Figtree', sans-serif;
    color: var(--color_4);
    margin: 0;
}

.R-S-Boxes h2 {
    font-family: 'Figtree', sans-serif;
    color: var(--color_4);
}

.R-S-Boxes img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.R-S-Boxes p {
    font-family: 'Figtree', sans-serif;
    color: darkslategray;
    margin-inline: 2rem;
}

.learn-more {
    background-color: white;
    font-family: 'Figtree', sans-serif;
    text-align: center;
    width: 35%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.learn-more:hover {
    box-shadow: 0px 2px 15px var(--color_19);
    transform: scale(1.10);
}

/* Testimonials Section */

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color_5);
    height: 400px;
}

.Testimonials-Section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: var(--color_1);
    padding: 20px;
}

.Testimonials-Section h4 {
    font-family: 'Figtree', sans-serif;
    font-size: 24px;
}

.Testimonials-Section p {
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    margin-top: 3rem;
}

.testimonial {
    display: none;
    width: 80%;
    max-width: 600px;
}

.separator-line {
    border-bottom: 1px solid white;
    margin-inline: 7.5rem;
}

.testimonial-dots {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.testimonial-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.testimonial-dots .dot.active {
    opacity: 1.0;
}

/* Footer Section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    /* background-color: var(--color_3); */
    background-color: rgba(136, 204, 194, 0.77);
    border-top: 6px solid var(--color_4);
}

.Footer-Links {
    display: flex;
    flex-direction: column;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 2.5;
    margin-bottom: 1rem;
    color: white;
}

.Socials a {
    padding-inline: 10px;
    text-decoration: none;
}

.Socials a:visited {
    text-decoration: none;
}

.Socials img {
    width: 40px;
    height: 40px;
}

.copyright {
    font-family: 'Figtree', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: white;
}

.disclaimer p {
    color: white;
    margin-inline: 1rem;
    font-family: 'Figtree', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/* iPhone Page */

.deviceListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.deviceList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    max-width: 1000px;
    padding-block: 1rem;
}

.deviceList a {
    background-color: white;
    font-family: 'Figtree', sans-serif;
    font-size: calc(1.1vh + 1.1vw);
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.deviceList a:hover {
    box-shadow: 0px 2px 15px var(--color_19);
    transform: scale(1.10);
}

.swiper {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 4rem;
    font-family: 'Figtree', sans-serif;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.swiper-slide img {
    max-width: 300px;
    max-height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
    height: 100%;
    margin-inline: 1.5rem;
}

/* Mac Page */

.lookup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Figtree', sans-serif;
    text-align: center;
}

.lookup-form input {
    margin-block: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#laptopModels {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
}

.swiperSlideHeight {
    min-height: 400px;
}

/* Shop Page */

.store-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_22);
    margin-top: 4rem;
    height: 95vh;
    width: 100%;
    font-family: 'Figtree', sans-serif;
    color: white;
    padding-bottom: 4rem;
}

.store-div h1 {
    font-size: 55px;
    margin-bottom: 0;
    line-height: 0.5;
}

.store-div p {
    margin-top: 2rem;
    color: white;
}

.store-div form {
    margin-bottom: 2rem;
}

#emailForm input {
    width: 300px;
    padding-inline: 15px;
    padding-block: 5px;
    margin-right: 0;
    border: 2px solid black;
}

#emailForm button {
    margin-left: 0;
    background-color: var(--color_27);
    border: 2px solid black;
    padding-inline: 15px;
    padding-block: 5px;
}

/* Data Recovery Page */

.data-recovery-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree', sans-serif;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.data-recovery-section h1 {
    font-size: 45px;
    color: var(--color_27);
    text-align: center;
}

.data-info {
    font-size: 20px;
    color: white;
    text-align: center;
    width: 50%;
}

.recovery-option {
    display: flex;
    flex-direction: row;
    background-color: var(--color_22);
    margin-block: 2rem;
    height: 200px;
    border-radius: 25px;
}

.recovery-option img {
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.recovery-info {
    position: relative;
    width: 100%;
    padding-inline: 1rem;
}

.recovery-info p {
    color: black;
}

.recovery-info a {
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-bottom: 5px;
    padding: 10px;
}

.recovery-info a:hover {
    box-shadow: 0px 2px 15px white;
    transform: scale(1.10);
}

.recovery-contact {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact {
    cursor: pointer;
    user-select: none;
}

/* Recycle Page */

/* .recyclePageHeader h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 40px;
    text-align: center;
    color: var(--color_27);
    margin-top: 8rem;
} */

.recycleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.recycleCard {
    display: flex;
    flex-direction: row;
    background-color: var(--color_22);
    margin-block: 2rem;
    border-radius: 25px;
    margin-inline: 2rem;
    max-width: 667px;
    height: 200px;
}

.recycleImgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recycleCard img {
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    vertical-align: top;
}

.recycleCard h2 {
    margin-inline: 1.5rem;
}

.recycleCard p {
    margin-inline: 1.5rem;
    color: black;
}

.recycleTextDiv {
    position: relative;
}

.recycleContact {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recycleCard a {
    font-family: 'Figtree', sans-serif;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-bottom: 5px;
    padding: 10px;
}

.recycleCard a:hover {
    box-shadow: 0px 2px 15px white;
    transform: scale(1.10);
}

.links {
    text-decoration: underline;
    color: blue;
}

.mail-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mail-in-form {
    font-family: 'Figtree', sans-serif;
    background-color: var(--color_22);
    width: 90%;
    max-width: 1600px;
    margin-block: 2rem;
    padding-block: 2rem;
    border-radius: 25px;
}

#mail-in-form input {
    text-align: left;
    width: 60vw;
    max-width: 400px;
    padding-block: 7px;
    padding-inline: 15px;
    background-color: var(--color_21);
}

#mail-in-form select {
    width: 60vw;
    max-width: 400px;
    padding-block: 7px;
    padding-inline: 15px;
    background-color: var(--color_21);
    border: none;
    border-radius: 1px;
    color: black;
}

#mail-in-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mail-in-form button {
    font-size: 18px;
    background-color: var(--color_5);
    color: white;
    border-radius: 10px;
    border: none;
    margin-block: 1rem;
    padding-block: 10px;
    padding-inline: 50px;
    transition: transform 0.2s;
}

#mail-in-form button:hover {
    transform: scale(1.15);
}

.info-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: none;
}

.info-form input {
    border-radius: 10px;
}

.info-form textarea {
    width: 60vw;
    max-width: 400px;
    height: 100px;
    resize: none;
    background-color: var(--color_21);
    border-radius: 10px;
}

.info-form select {
    border-radius: 10px;
}

.address-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: none;
}

.address-form input {
    border-radius: 10px;
}

#HTTPS-Message {
    width: 100%;
    height: 20px;
    text-align: center;
    overflow: hidden;
}

#HTTPS-Message p {
    margin: 0;
    padding: 0;
}

/* Team Page */

.team-gear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
}

.team-gear img {
    max-width: 35vw;
    height: auto;
    border-radius: 30px;
    margin-inline: 2rem;
}

.join-team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Figtree', sans-serif;
    width: 100%;
    min-height: 400px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.apply-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-color: var(--color_5);
    width: 35%;
    padding-inline: 2rem;
    border-radius: 25px;
}

.apply-info h1 {
    font-size: 44px;
    color: var(--color_21);
}

.apply-info p {
    font-size: 20px;
    color: white;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Figtree', sans-serif;
    background-color: var(--color_2);
    width: 60%;
    padding-top: 1rem;
    border-radius: 25px;
}

fieldset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: none;
}

.input-group div {
    display: flex;
    flex-direction: column;
}

.input-group input {
    background-color: var(--color_21);
    color: black;
    width: 15vw;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-inline: 5px;
}

#contact-form button {
    font-size: 18px;
    background-color: var(--color_5);
    color: white;
    border-radius: 10px;
    border: none;
    margin-block: 1rem;
    padding-block: 10px;
    padding-inline: 50px;
    transition: transform 0.2s;
}

#contact-form button:hover {
    transform: scale(1.15);
}

/* About Us Page */

.team-header {
    font-family: 'Figtree', sans-serif;
    font-size: 30px;
    margin-top: 6rem;
    color: var(--color_27);
    text-align: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.team-container img {
    max-width: 80vw;
    height: auto;
    max-height: 650px;
    margin-block: 1rem;
    border-radius: 25px;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
}

.member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0.5rem;
}

.green-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(50, 134, 68, 0.6);
    border: 5px solid rgb(50, 134, 68);
}

.team-member-logo {
    background-image: url('../Images/webp/team-member-icon.webp');
    background-image: url('../Images/png/team-member-icon.png'), none;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

.title {
    font-family: 'Figtree', sans-serif;
    text-align: center;
    color: white;
    padding-inline: 1rem;
    width: 100%;
}

.title p {
    color: var(--color_27);
}

/* Locations Page */

.locations-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem;
    width: 100%;
}

.location-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.location-card img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 25px;
}

.location-card div:first-child {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.location-card div:nth-child(2) {
    margin-left: 2rem;
    width: 100%;
}

.location-data h1 {
    font-family: 'Figtree', sans-serif;
    color: white;
}

.location-data h2,
p {
    font-family: 'Figtree', sans-serif;
    color: var(--color_27);
}

.more-info {
    cursor: pointer;
    height: 40px;
    line-height: 30px;
    margin-bottom: 2rem;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    border-radius: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    text-wrap: nowrap;
}

.more-info:hover {
    box-shadow: 0px 2px 15px var(--color_19);
    transform: scale(1.10);
}

/* Max Width Media Queries */

@media only screen and (max-width: 1200px) {
    .buttonsContainer {
        width: 50%;
        height: auto;
    }

    .device-box {
        width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .buttonsContainer {
        width: 60%;
        height: auto;
    }

    .location-card {
        flex-direction: column;
        text-align: center;
    }

    .location-card div:first-child {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .location-card div:nth-child(2) {
        margin-left: 0;
        width: 100%;
    }

    .join-team {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .apply-info {
        width: 100%;
        margin-bottom: 2rem;
    }

    #contact-form {
        width: 100%;
    }

    .input-group div {
        width: 100%;
    }

    .input-group input {
        width: 30vw;
    }

    .team-gear {
        flex-direction: column;
    }

    .team-gear img {
        max-width: 80vw;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 999px) {
    .sidebar-items-left a,
    .sidebar-items-right a {
        width: 60vw;
        padding: 10px;
        margin: 0.5rem;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    }

    .sidebar-items-left a:hover,
    .sidebar-items-right a:hover {
        box-shadow: 0px 2px 15px white;
        transform: scale(1.10);
    }
}

@media only screen and (max-width: 766px) {
    .buttonsContainer {
        width: 70%;
        height: auto;
    }

    .swiper-inner-wrapper {
        min-height: 630px;
    }
}

@media only screen and (max-width: 645px) {
    .buttonsContainer {
        width: 80%;
        height: auto;
    }

    .disclaimer {
        margin-inline: 15%;
    }

    .Juice-Up-Section h2 {
        font-size: medium;
    }

    .Juice-Up-Section p {
        font-size: small;
    }
}

@media only screen and (max-width: 500px) {
    .buttonsContainer {
        width: 90%;
        height: auto;
    }

    .recovery-option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color_22);
        margin-block: 2rem;
        height: auto;
        border-radius: 25px;
    }

    .recovery-option img {
        border-radius: 25px;
        margin-top: 5px;
    }

    .recycleCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color_22);
        margin-block: 2rem;
        margin-inline: 0;
        height: auto;
        border-radius: 25px;
    }

    .recycleCard img {
        border-radius: 25px;
        margin-top: 5px;
    }

    .recycleContact {
        position: relative;
    }

    .recovery-info {
        position: relative;
        width: 100%;
        padding-inline: 1rem;
    }

    .recovery-contact {
        position: relative;
        bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .data-info {
        width: 80%;
    }
}

/* Min Width Media Queries */

@media only screen and (min-width: 1000px) {
    .hamburger-menu {
        display: none;
    }

    .Navbar {
        justify-content: center;
    }

    .sidebar {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: none;
        background-color: transparent;
        width: auto;
        margin-top: 0;
        padding-top: 0;
    }

    .sidebar-items-left,
    .sidebar-items-right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-inline: 0;
        padding-inline: 0;
        width: 50%;
    }

    .sidebar-items-left a,
    .sidebar-items-right a {
        white-space: nowrap;
        padding: 0;
        color: var(--foreground);
        font-size: 20px;
    }

    .navbar-logo {
        display: none;
    }

    .dt-nav-logo {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    .dt-nav-logo img {
        height: 90px;
        width: auto;
        margin-inline: 1rem;
    }

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 3rem;
        width: 100%;
    }

    .Why-Apple-Repair {
        min-width: 50%;
        min-height: 700px;
        margin-right: 3rem;
    }

    .Boone-Store-Lobby img {
        width: auto;
        height: 100%;
        min-height: 500px;
        object-fit: cover;
        margin-right: -280px;
        margin-block: 3rem;
        margin-left: 3rem;
    }

    .Why-Numbers-Boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Why-Numbers-Boxes div {
        width: 100%;
    }

    #mail-in-form div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 767px) {
    .swiper-slide {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .swiper-inner-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .swiperDevice,
    .swiperContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: 4rem;
    }
}

@media only screen and (min-width: 600px) {
    .member-container {
        width: calc(50% - 1rem);
    }
}

/* Specific Media Queries */

@media only screen and (min-width: 426px) and (max-width: 999px) {
    .Why-Numbers-Boxes div {
        margin-inline: calc(var(--base-margin) + var(--increase-factor) * 100vw);
    }
}
